.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a:hover {
    color: red;
}

.item a.active {
    color: aqua;
}
