.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";

   grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */

}
